{% extends "main/base.html" %}
{% block content %}
<main role="main" class="container" >
 <div class="row">
  <div class="col-md-8">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  <h1>Daily Menu</h1>
  {% for post in post%}
    <h1>{{post.title}}</h1>
    <p>{{post.description}}</p>
    <p>{{post.price}}</p>
  {% endfor %}
</div>
</div>
{% endblock content %}
